/*
 * Buttons get 20% darker tint from original colour
 * Border radius is 5px
 * Color Scheme so it doesn't get lost:
 * #563e77
 * #00A1E4
 * #248232
 * #fcf5e5
 * #040403
 */

* {
    /* font-family: 'VT323', monospace; */
    font-family: 'Press Start 2P', system-ui;
}

body {
    background-color: #131622;
}

h1 {
    margin: 0;
}

#gameCamera {
    border: 1px solid #fcf5e5;
}

#back-btn-menu {
    display: none;
}

button, .standardBtn, .combatBtn {
    background-color: #00A1E4;
    color: #040403;
    border: 2px solid #040403;
    border-radius: 5px;
}

button, .combatBtn, #backBtnAttack {
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    font-size: 16px;
}

.inventoryOption {
    display: flex;
    width: 80px;
    justify-content: center;
    cursor: pointer;
}

.verticalLine {
    width: 2px;
    height: 32px;
    background-color: black;
}

.inventoryItem {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.inventoryItemContainer {
    background-color: #FCF5E5;
    color: black;
    /* cursor: pointer; */
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: space-between;
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
}

button:hover, .standardBtn:hover, .monsterInfo:hover, .inventoryOption:hover, .combatBtn:hover {
    background-color:  #0081b6;
}

#content {
    display: inline-block;
    position: relative;
}

#overlappingDiv {
    background-color: black; 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0;
    left: 0; 
    opacity: 0; 
    pointer-events: none;
    z-index: 2;
}

#menu {
    background-color: #563e77; 
    position: absolute;
    color: white;
    top: 0;
    right: 800px;
    left: 0;
    border: 2px solid #040403;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

#menu-title {
    background-color: #563e77;
    text-align: center;
    border-bottom: 2px solid #040403;
    width: 100%;
}

.menu-item, .backBtn {
    color: black;
    text-align: center;
    border-radius: 5px;
    width: 80%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.menu-item > h3, .backBtn > h3 {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

#fullMonsterView, #fullInventoryView {
    display: none;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 236px;
    padding: 5px;
    background-color: #563E77;
    color: white;
    border: 2px solid #040403;
    font-size: 8px;
}

#fullMonsterView::before, #fullInventoryView::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    border: 2px solid #040403;
    border-radius: 5px;
}

#header, #inventoryHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid #040403;
    margin-bottom: 1rem;
    font-size: 16px;
}

#inventoryHeader {
    justify-content: space-around;
}

.inventoryOption {
    z-index: 3;
    padding: 0.2rem;
}

#monsterName {
    width: 50%;
    text-align: center;
}

#type {
    width: 50%;
    text-align: center;
}

#monDescrip {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#spriteAnimate {
    border: 4px solid black;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FCF5E5;
}

#flavourText {
    background-color: #FCF5E5;
    color: black;
    position: relative;
    width: 50%;
    height: 75px;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 4px solid black;
    margin: 1rem;
}

#flavourText::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    border: 2px solid black;
    border-radius: 5px;
}

#infoTeam {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#expHP {
    width: 25%;
    margin-left: 3rem;
}

#stats {
    width: fit-content;
    margin-right: 3rem;
}

#toolbarTeam {
    margin-top: 4.7rem !important;
    background-color: #563e77;
    margin-top: 3rem;
    width: 100%;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 40px !important;
    border-top: 4px solid black;
}

#release {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

#inventoryBody {
    position: relative;
    height: 82%;
    overflow-y: scroll;
    z-index: 4;
}

#inventoryFooter {
    display: none;
    position: absolute;
    right: 30px;
    left: 266px;
    bottom: 17px;
    top: 416px;
    border-radius: 5px;
    background-color: #FCF5E5;
    color: #000;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    z-index: 4;
    font-size: 16px;
} 

#itemDescriptionBox {
    width: 100%;
}

#itemTitle {
    text-align: center;
}

#itemDescription { 
    text-align: left;
    margin-left: 1rem;
}

.inventoryImg {
    width: 32px;
    height: 32px;
    margin: auto;
    margin-left: 1rem;
}

.inventoryName {
   margin-left: 5rem;
   width: 300px !important;
   text-align: left !important;
}

.inventoryQuantity {
   margin-right: 20px;
}

.inventoryBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inventoryBtn {
    border: 1px solid #040403;
    font-size: 12px;
    text-align: center;
    padding-top: 2rem;
    cursor: pointer;
    margin-left: .75rem;
    margin-right: .75rem;
    width: 60px !important;
    height: 20px;
    padding: 1px;
    border-radius: 5px;
}

#userInterface {
    display: none;
}

#hpBackgroundEnemy, #hpBackgroundPlayer {
    background-color: white; 
    width: 200px; 
    position: absolute;
    border: 4px black solid;
    padding: 12px;
}

#hpBackgroundEnemy {
    top: 50px;
    left: 50px;
}

#hpBackgroundPlayer {
    top: 330px;
    right: 50px;
}

#hpTextBackground {
    width: 40%
}

#hpText {
    font-size: 10px;
    margin-top: 0;
    padding-top: 4px;
    width: 100%;
    text-align: center;
    border-width: 2px;
    border-color: black;
    border-style: outset;
    background-color: #808080;
}

#enemyName, #playerName, #attackType {
    font-size: 16px;
}

.monsterLvlText, .monsterHpText {
    margin-bottom: 5px;
}

.healthBackground, .expBackground {
    position: relative;
}

.healthBackgroundTeam, .expBackgroundTeam {
    margin-bottom: .5rem;
}

.health, .exp {
    height: 5px; 
    background-color: #ccc; 
    margin-top: 10px;
    outline: 2px solid black;
    border-radius: 3px;
}

.playerHealthBar, .playerHealthBarBattle, #enemyHealthBar, .playerEXPBar {
    height: 5px; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0;
}

.playerHealthBar, .playerHealthBarBattle, #enemyHealthBar {
    background-color: green;
    border-radius: 3px;
}

.playerEXPBar {
    background-color: blue;
    border-radius: 3px;
}

#dialogBox, #combatBox {
    background-color: white; 
    height: 140px;
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 3px black solid;
    display: none;
    z-index: 3;
}

#dialogBox {
    /* background-color: rgba(4, 4, 3, 0.7);  */
    /* background-color: rgba(86, 62, 119, 1);  */
    background-color: #fcf5e5;
    color: #040403;
    border: 3px solid #040403;
    border-radius: 5px;
}

#dialogueOutput {
    background-color: white;
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    padding: 12px;
    cursor: pointer;
}

#dialogOutputBox {
    text-align: center;
}

#userChoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 72;
   
}

#topRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%
}

#bottomRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%
}

.combatBtn {
    padding: 0;
    text-align: center;
    width: 50%;
}

.battleCommands, .attackOptions {
    text-align: center;
    width: 100%;
    height: 100%;
}

#attackType {
    max-width: 100%;
}

.monsterInfo {
    background-color: #00A1E4;
    color: black;
    display: flex;
    flex-direction: column;
    margin-top: 0.26rem;
    border: 2px solid black;
    cursor: pointer;
    width: 94%; 
}

.imgNameContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.imgContainer {
    display: flex;
    margin-right: 0.65rem;
}

.monsterImg {
    height: 38px !important;
    width: 38px !important;
    align-self: center;
}

.monsterNameDiv {
    display: flex;
    width: fit-content;
    margin-left: 0.65rem;
}

.monsterName {
    width: 100%;
    padding: 0.1rem;
    align-self: center;
}

.statDisplay {
    display: flex;
    flex-direction: row;
    font-size: 8px;
    text-align: center;
    width: 100%;
    justify-content: space-around;
}

.monsterLvlText {
    white-space: pre-line;
}

.statDisplay > div {
    width: 40%
}

.teamOptions > button {
    font-size: 8px;
}

#attackTypeBox {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 20%;
    border-left: 4px black solid;
}

/*Dialogue Stuff*/
.yesBtn {
    position: absolute;
    right: 200px;
    bottom: 10px;
    width: 100px;
    height: 50px;
}

.noBtn {
    position: absolute;
    right: 80px;
    bottom: 10px;
    width: 100px;
    height: 50px;
}

.nextBtn {
    display: none;
    border-radius: 40px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
}

.cancelBtn {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 120px;
    height: 50px;
} 

#goBack {
    display: none;
    width: 8%;
    align-items: center;
}

#backBtnAttack {
    width: 100%;
    text-align: center;
}