/*////////////////////////////////////////////////////*/
/*Navbar and Footer*/
/*////////////////////////////////////////////////////*/
.navbar{
    background-color: #581A67;
    background-image: linear-gradient(to right, #581A67, #230A29);
    border-bottom: 1px solid #AEC5EB;
    border-radius: 0px 0px 30px 30px;
    font-family: 'Press Start 2P', cursive;
}

.navbar-brand {
    color: #FFFFF0 !important;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 50px;
}

#navbarNav {
    margin-right: 100px;
}

.nav-item {
    width: 50px;
    height: auto;
    display: inline;
    transition: all .2s ease-in-out;
}

.footer {
    border-top: 2px solid #AEC5EB;
    border-radius: 30px 30px 0px 0px;
    font-family: 'Press Start 2P', cursive;
    color: #fffff0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem; /* Footer height */
}

.footer h1 {
    font-size: 32px;
    margin-bottom: 0 !important;
}

.footer div  {
    font: 12px;
    font-family: 'Chakra Petch', sans-serif;
}

/*////////////////////////////////////////////////////*/
/*General Stuff*/
/*////////////////////////////////////////////////////*/

#page-container {
    background-color: #000 !important;
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-top: 3rem;
    padding-bottom: 4rem;    /* Footer height */
  }

.outside {
    border: 2px solid #AEC5EB;
    background-color: #581A67;
    padding: 10px !important;
}

.inside, .inside-card {
    border: 2px solid #000;
    border-radius: 5px;
    color: #000;
    padding: 2rem;
    background-color: #F8F8F8;
    display: block;
}

.heading {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border-bottom: 2px solid #000;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #000;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*Exists just to position something*/
.position-div {
    width: 100%
}

/*////////////////////////////////////////////////////*/
/*Index*/
/*////////////////////////////////////////////////////*/
#me {
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

#myName {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

#logo-div {
    width: 50%;
}

#contact-heading {
    border: 1px outset black;
    border-radius: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem;
    font-family: 'Chakra Petch', sans-serif;
}

.contact-logo {
    width: auto;
    height: 50px;
}

#advanceText {
    width: 100%;
    border-radius: 30px;
}

#info {
    height: 250px;
    font-family: 'Chakra Petch', sans-serif;
}

#email:hover, #advanceText:hover {
    cursor: pointer;
}

#advanceText:hover {
    background-color: #c6c6c6;
}

/*////////////////////////////////////////////////////*/
/*Projects*/
/*////////////////////////////////////////////////////*/
#content-wrap-projects {
    padding-top: 3rem;
    padding-bottom: 7rem;    /* Footer height plus 3 for extra space */
  }

.project {
    font-size: 16px;
    font-family: 'Chakra Petch', sans-serif;
    background-color: #F8F8F8;
    color: #000;
    height: 15vh;
    padding: 5px;
}

.rowProjects {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.inside-card {
    transition: all .2s ease-in-out;
}

a.inside-card:link, a.inside-card:visited {
    text-decoration: none;
}

a.inside-card:hover, a.inside-card:active {
    text-decoration: none;
    transform: scale(1.2);
    filter: grayscale(100%) brightness(80%);
    z-index: 2;
}

.project-name {
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    color: #000;
    height: 48px;
}

.project-pic {
    width: 100%;
    height: 185px;
    overflow: hidden;
}

.project-pic > img {
    width: 100%;
    height: 100%;
}

.project p {
    margin-bottom: 0;
    padding: 5px;
}

/*////////////////////////////////////////////////////*/
/*Responsive*/
/*////////////////////////////////////////////////////*/
@media only screen and (max-width: 576px) {
    /*Navbar and Footer*/
    #logo {
        display: none;
    }

    #logo-div {
        width: 100%;
    }

    #iconRow {
        width: 100%;
        justify-content: space-around;
    }

    #name-container {
        width: 100%;
        text-align: center;
    }

    .navbar-brand {
        font-size: 1.4rem !important;
    }

    .footer > h5 {
        display: none;
    }

    .footer > h6 {
        margin-top: 1rem;
        display: block;
    }

    .footer {
        height: 6rem;
    }

    /*Content*/
    #content-wrap {
        width: 100%;
        padding-bottom: 4rem;
        padding-left: 0;
        padding-right: 0;
    }

    #content-wrap-projects {
        padding-bottom: 7rem;
    }

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .outside {
        margin-bottom: 2rem;
    }

    #info {
        height: 43vh;
        padding-left: 0;
        padding-right: 0;
        font-size: 1rem;
    }

}

@media only screen and (min-width: 576px) {
    #logo {
        display: none;
    }

    #iconRow {
        width: 100%;
        justify-content: center;
    }

    #name-container {
        width: 100%;
        text-align: center;
    }

    .navbar-brand {
        font-size: 1.4rem !important;
    }

    .footer > h5 {
        display: none;
    }

    .footer > h6 {
        margin-top: 1rem;
        display: block;
    }

    .footer {
        height: 6rem;
    }

    /*Content*/
    #content-wrap {
        width: 100%;
        padding-bottom: 6rem;
    }

    .container {
        max-width: 100% !important;
    }

    #content-wrap-projects {
        padding-bottom: 7rem;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .outside {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
    }

    #info {
        height: 15vh;
        padding-left: 0;
        padding-right: 0;
        font-size: 1rem;
    }

}

@media only screen and (min-width: 768px) {
    .navbar-brand {
        font-size: 2rem !important;
    }

    .footer > h5 {
        margin-top: 1rem;
        display: block;
    }

    .footer > h6 {
        margin-top: 1rem;
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    #logo {
        display: block;
    }

    #iconRow {
        width: fit-content;
        justify-content: space-around;
    }

    .navbar-brand {
        font-size: 2.5rem !important;
    }

    #nav-container {
        width: 100%;
        justify-content: space-around;
    }

    #name-container {
        width: fit-content;
        text-align: center;
    }

    .footer > h5 {
        margin-top: 1rem;
        display: block;
    }

    .footer > h6 {
        margin-top: 1rem;
        display: none;
    }

    .footer {
        height: 6rem;
    }
}

@media only screen and (min-width: 1200px) {
    #contact-heading {
        font-size: 1.2rem;
    }

    #info {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1400px) {

}